.templates-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2em;
}

@media (max-width: 1024px) {
  .templates-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    flex-direction: column;
  }

  .template {
    margin-bottom: 2em;
  }
}

@media (max-width: 768px) {
  .templates-grid {
    display: flex;
    flex-direction: column;
  }

  .template {
    margin-bottom: 2em;
  }
}