// @import url('https://fonts.googleapis.com/css?family=Lato');

$dark-blue: #31315b;
$darker-blue: #32325d;
$template-link-color: #2fdc44; 
$template-link-colorII:#00D029;
$spacing-unit: 6px;
$cell-padding: (4 * $spacing-unit);


.template-container {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
  // width: 50%;
  // width:30%;
  padding: 20px 20px 20px 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  h3 {
    color: $dark-blue;
    font-size: 2.2rem;
    line-height: 1.4; 
    margin: 20px auto;
    span{ 
      color: inherit; 
      display: inline;
      padding: 0.45rem;
      padding: 0.5rem;
      padding-left: 0;
      padding-right: 0;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
  
}

.template-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

    //   font-size: calc(2.5 * var(--spacing-unit));
    // padding: calc(var(--cell-padding));
    // flex-grow: 1;

  p {
    font-size: 1.5rem;
    color: $dark-blue;
    flex-basis: 100%;
    margin-bottom: 60px;
  }
}
a {
  border: none;
  cursor: pointer;
  color: $template-link-colorII;
  display: block;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 26px;
  letter-spacing: .025em;
  padding: 0.45rem 0;
  transition: background .15s ease;
  &:hover {
    background: #cfd7df;
  }
}