:root{
  --margin-tblr: 2rem;
}
.App {
  margin: var(--margin-tblr);
}
.App header.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App main.main{
  margin-top: 4rem;
}
.flex-wrap-wrap{
  flex-wrap: wrap;
}
.flex-justify-between{
  justify-content: space-between;
}
